@import url(http://fonts.googleapis.com/css?family=Cardo);

// BREAKPOINTS
$break-small          : 450px;
$break-medium         : 700px;
$break-large-medium   : 900px;
$break-fishtank       : 1020px;
$break-large          : 1100px;

// GRIDS
$collapse-grid-at     : $break-large;

// Colors
$dark-blue            : #09031a;
$dark-green           : #084041;
$light-green          : #aeccc7;
$purple               : #4d103b;
$yellow               : #FFCC33;

// FONTS
$sans-serif           : 'Cardo', sans-serif;
