// BREAKPOINTS
$break-small          : 450px;
$break-medium         : 700px;
$break-large-medium   : 900px;
$break-fishtank       : 1020px;
$break-large          : 1100px;

// GRIDS
$collapse-grid-at     : $break-large;

// Colors
$gray                 : #393938;
$green                : #677065;
$yellow               : #FFCC33;

// FONTS
$sans-serif           : 'Gotham SSm A', 'Gotham SSm B', sans-serif;
$serif                : 'Mercury SSm A', 'Mercury SSm B', Georgia, serif;
