@charset "utf-8";
@import "compass";
@import "toolkit-no-css";
@import "breakpoint";
@import "config";
@import "grid";
@import "mixins";
@import "reset";

*, *:after, *:before { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

body {
  background: $dark-blue;
  color: #fff;
  font-family: $serif;
  background: url(../images/bg.jpg) fixed no-repeat;
  @include prefix(background-size, cover);

}

h1,h2,h3,h4 {
  text-align: center;
}

h1 {
  font-size: 80px;
}

h2 {
  font-size: 80px;
  font-weight: 300;
  margin-bottom: 100px;
}

h4 {
  margin-top: 25px;
  font-size: 30px;
}

p {
  font-size: 18px;
  line-height: 28px;
  font-weight: 300;
  margin-bottom: 15px;
}

a {
  text-decoration: none;
  color: #fff;
  display: block;
  @include prefix(transition, color .5s);
  
  &:hover {
    color: $yellow;
    @include prefix(transition, color .5s);
  }
}

.l-wrap {
  width: 90%;
  max-width: 1100px;
  margin: 0 auto;
}

.grid {
  @extend %grid;
}

.m-nav {
  z-index: 1;
  background: rgba(0,0,0,.9);
  width: 100%;
  position: relative;
  opacity: 0;
  @include prefix(transition, opacity .4s);
  ul {
    text-align: right;
  }
  li {
    display: inline-block;
    font-size: 16px;
    text-transform: lowercase;
  }

  a {
    padding: 20px;
  }

  &.fixed {
    top: 0;
    position: fixed;
  }
  &.opacity {
    opacity: .9;
  }
}
.m-hero {
  color: #fff;
  width: 100%;
  position: relative;
  padding-bottom: 50px;
  img {
    max-width: 100%;
  }

  @media(max-width: $break-medium) {
    max-height: 500px;
  }
}

.m-hero__header {
  margin: 0 auto;
  text-align: center;
  padding-top: 10%;
  margin-bottom: 200px;
}

.m-about {
  background: rgba(77,16,59,.6);
}

.m-judges {
  background: rgba(8,64,55,.6);
}

.m-work {
}
.m-about__name {
  font-size: 30px;
  padding-bottom: 15px;
  border-bottom: 1px solid #fff;
  text-transform: uppercase;
  display: inline-block;
}


.m-about__info {
  font-size: 18px;
  margin-top: 40px;
  line-height: 28px;
  &.location {
    font-size: 22px;
    line-height: 40px;
  }
}

.exhibit {
  margin-top: 40px;
}

.m-about__date {
  font-size: 30px;
  line-height: 35px;
  margin: 15px 0;
}


.m-work {
  .m-three {
    height: 300px;
    border: 1px solid red;
  }
}

.m-judges {
  img {
    max-width: 200px;
  }

  .circle {
    border-radius: 200px;
    overflow: hidden;
    @include prefix(transition, opacity .5s);
    &:hover {
      opacity: .5;
      
    }
  }
}

.m-judges__name {
  font-size: 30px;
  margin: 15px 0;
}

section {
  padding: 100px 0;
  text-align: center;
}

.button {
  padding: 20px;
  border: 1px solid #fff;
  color: #fff;
  display: inline-block;
  text-decoration: none;
  font-size: 16px;
  @include prefix (transition, .7s);
  &:hover {
    border-color: $dark-green;
    @include prefix (transition, .7s);
    background-color: $dark-green;
  }
}

.m-two {
  @extend %grid-u-1-2;
}

.m-three {
  @extend %grid-u-1-3;
  padding: 30px;
}


footer {
  padding: 100px 0px;
  background: rgba(0,0,0,.6);

  p {
    font-size: 14px;
  }

  .copy {
    text-align: right;
  }
}
