---
layout: "projects"

title: "Advocacy Poster"

student: "Alice Packard"

course: "Visual Communication Design"

professor: "Tate Strickland"

semester: "Fall 2013"

category: "Foundation"

year: "Freshmen"

description: '<p>An advocacy poster I created for one of my final projects in GDES 200. The main goal was to "design a poster to graphically communicate a sociopolitical, environmental, or human rights issue.</p>'

images: 
  - "images/packard_advocacy_1.png"
---
