---
layout: "projects"

title: "Abercrombie &amp; Fitch Mobile App"

student: "Madeline Beard"

course: "Experience Design: Interactive Media and Mobile Devices"

professor: "Yana Sakellion"

semester: "Fall 2013"

category: "iOS Application"

year: "Senior"

description: "<p>This proof-of-concept shopping app utilizes geolocation and photo booth functionality to make the process of trying on clothes easier and more enjoyable for the user.</p>"

embed: '<iframe src="//player.vimeo.com/video/81695658" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>'

portfolio: "madelinebeard.com"

moreProjects:
  -"/muse.html"
  -"/bee.html"
  -"/missoni.html"
  -"/muppets.html"
---
