---
layout: "projects"

title: "Amsterdam spread"

student: "Ada Thomas"

course: "Advanced Design II: Publication Design for Print and Digital Media"

professor: "Tom White"

semester: "Spring 2014"

category: "Publication"

year: "Senior"

description: "<p>This feature was designed for an Amsterdam city/regional magazine. The design incorporates young Amsterdammers and their favorite places to eat, drink, and hang out, making the article feel more like an insider's guide and the recommendations more trustworthy.</p>"

portfolio: "cargocollective.com/adathomas"


images: 
  - "images/thomas_amsterdam_1.jpg"
  - "images/thomas_amsterdam_2.jpg"

moreProjects:
  -"/janeausten.html"
  -"/amsterdam.html"
---
