---
layout: "projects"

title: "Anima Film Poster"

student: "Sounthi Keobounphanh"

course: "Visual Concepts and Image Making for Design"

professor: "Tiffany Dantin"

semester: "Spring 2013"

category: "Poster"

year: "Senior"

description: "<p>A Promotional poster and collateral pieces for stop motion animation film festival. The design integrates flat, illustrated characters with three dimensional material and surfaces to express the exuberant world of stop motion film.</p>"

portfolio: "http://sonnykeo.prosite.com/"


images: 
  - "images/keobounp_animafilm_1.jpg"

moreProjects:
  -"/bookset.html"
---
