---
layout: "projects"

title: "Art All Night"

student: "Ally Palanzi"

course: "Design for Print"

professor: "Dan Banks"

semester: "Spring 2013"

category: "Event Collateral"

year: "Senior"

description: "<p>Save the date, invitation, brochure, and giveaway created for Art All Night, an all night art festival in Washington, DC.</p>"

portfolio: "http://allypalanzi.com"
 
images: 
  - "images/palanzi_artallnight_1.jpg"
  - "images/palanzi_artallnight_2.jpg"
  - "images/palanzi_artallnight_3.gif"

moreProjects:
  -"/offbeat.html"
  -"/muse.html"
  -"/littlehouse.html"
  -"/megabus.html"
---
