---
layout: "projects"

title: "Artistech"

student: "Una Kravets"

course: "Design for Print: Digital and Analog Print Production"

professor: "Dan Banks"

semester: "Spring 2013"

category: "Event Collateral"

year: "Senior"

description: "<p>Artistech is a fictional stylus for tablet and mobile devices that looks and feels just like a paintbrush. Patterns, packaging, and a logo were designed for this set. The type of brush is printed a line-embossed slipcase which encloses the brush container. 'Brush' is die cut into this cover to reveal the pattern below.</p>"

portfolio: "http://www.unakravets.com"
 
images: 
  - "images/kravets_artistech_2.jpg"
  - "images/kravets_artistech_3.jpg"
  - "images/kravets_artistech_1.jpg"


moreProjects:
  -"/fruitstory.html"
  -"/edible.html"
  -"/hp.html"
  -"/dscdc.html"
  -"/fannotate.html"
---
