---
layout: "projects"

title: "Baked and Wired"

student: "Julia Seaton"

course: "Digital and Emerging Media Design II "

professor: "Yana Sakellion"

semester: "Fall 2013"

category: "Website"

year: "Senior"

description: '<p>A fully responsive website for the bakery, "Baked and Wired.</p>'

portfolio: "http://jps-101.tumblr.com/"

link: "http://juliaseaton.com/bakedandwired/"

images: 
  - "images/seaton_project_1.jpg"
  - "images/seaton_project_2.jpg"
  - "images/seaton_project_3.jpg"
---
