---
layout: "projects"

title: "Baking Sensations"

student: "Walter Ramirez Mejia"

course: "Digital and Emerging Media Design II "

professor: "Yana Sakellion"

semester: "Fall 2013"

category: "Website"

year: "Junior"

description: "<p>This website was created for a local business that caters bake goods. The site conveys the craftsmanship of the business under a contemporary light.</p>"

link: "http://fantuccidesigns.com/project3/index.html"

portfolio: "http://walterramirezdesign.carbonmade.com/"

 
images: 
  - "images/walter_baking_1.png"
  - "images/walter_baking_2.png"

moreProjects:
  -"/syllabus3.html"
  -"/team.html"
---
