---
layout: "projects"

title: "BarCar"

student: "Rebecca Zisser"

course: "Experience Design: Interactive Media and Mobile Devices"

professor: "Yana Sakellion"

semester: "Fall 2013"

category: "iOS Application"

year: "Senior"

description: "<p>BarCar helps people find safe and low-cost rides home from bars, prevents drunk driving, and encourages people to drink more Dogfish Head.</p>"

portfolio: "rebeccazisser.com"
 
images: 
  - "images/zisser_barcar_1.jpg"
  - "images/zisser_barcar_2.jpg"
  - "images/zisser_barcar_2.jpg"

moreProjects:
  -"dogfishhead.html"
  -"partyrock.html"
---
