---
layout: "projects"

title: "Bee-autiful World"

student: "Cristina Keane, Madeline Beard, Rebecca Weisenhoff"

course: "Kinetic and Sequential Graphics"

professor: "Tate Strickland"

semester: "Spring 2014"

category: "Motion Graphics"

year: "Senior"

description: '<p>Animated infographic about the dangers of a diminishing honeybee population</p>'

embed: '<iframe src="//player.vimeo.com/video/89332701" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>'

images: 
  - ""

moreProjects:
  -"/naked.html"
  -"/fannotate.html"
---
