---
layout: "projects"

title: "Book Jacket Series"

student: "Cara Levine"

course: "Advanced Design I: Visual Branding and Design Systems"

professor: "Chemi Montes"

semester: "Fall 2013"

category: "Packaging"

year: "Senior"

description: "<p>Book jacket series for <em>It's Kind of A Funny Story, The Perks of Being A Wallflower,</em> and <em>Speak</em>.</p>"

portfolio: "http://cl9103a.wix.com/cara"

images: 
  - "images/levine_bookjacket_1.jpg"
  - "images/levine_bookjacket_2.jpg"
  - "images/levine_bookjacket_3.jpg"

moreProjects:
  -"/ebooks.html"
  -"/plaza.html"
---
