---
layout: "projects"

title: "Book Set"

student: "Sounthi Keobounphanh"

course: "Advanced Design I: Visual Branding and Design Systems"

professor: "Chemi Montes"

semester: "Fall 2013"

category: "Packaging"

year: "Senior"

description: "<p>A series of three book jackets grouped together by theme. Book set include Coraline, Bridge to Terabithia and Phantom Tollbooth. Due to ongoing conflicts they face in the real world, the children in these books create a fantastical world they escape to. The design of the book covers reflect this duality they exist in. Hand-constructed by materials essential to the storyline, these book jackets are physical, precious, valuable items that viewers can see, smell and touch.</p>"

portfolio: "http://sonnykeo.prosite.com/"


images: 
  - "images/s_bookset_1.jpg"
  - "images/s_bookset_2.jpg"
  - "images/s_bookset_3.jpg"

moreProjects:
  -"/anima.html"
---
