---
layout: "projects"

title: "Boroughs Film Festival"

student: "Ethel Moore"

course: "Visual Concepts and Image Making for Design"

professor: "Tiffany Dantin"

semester: "Spring 2013"

category: "Identity"

year: "Senior"

description: "<p>Boroughs Film Fest is an annual event that focuses on three major cities. </p><p>
 
The movies all have one thing in common; the city is a major character. Though the term 'borough' describes a subdivision, Boroughs  
Film Fest emphasizes how a location can unite thousands of people. </p><p>
 
A website, merchandise, poster, and logo were designed for the event.</p>"

portfolio: "http://www.ethelmoore.com"


images: 
  - "images/moore_boroughs_1.jpg"
  - "images/moore_boroughs_2.jpg"
  - "images/moore_boroughs_3.jpg"

moreProjects:
  -""
---
