---
layout: "projects"

title: "City Magazine"

student: "Laura Zucker"

course: "Advanced Design II: Publication Design for Print and Digital Media"

professor: "Tom White"

semester: "Fall 2013"

category: "Publication"

year: "Senior"

description: "<p>An article for a magazine geared toward the young and independent city-dweller or traveler. Its purpose is to show how easy it is to navigate the city and get from place to place.</p>"


images: 
  - "images/zucker_city_1.jpg"
  - "images/zucker_city_2.jpg"

moreProjects:
  -""
---
