---
layout: "projects"

title: "Dogfish Head Rebrand"

student: "Rebecca Zisser"

course: "Advanced Design I: Visual Branding and Design Systems"

professor: "Chemi Montes"

semester: "Fall 2013"

category: "Packaging"

year: "Senior"

description: "<p>Rebranding for Dogfish Head Beers.</p>"

portfolio: "rebeccazisser.com"
 
images: 
  - "images/zisser_dogfish_1.jpg"
  - "images/zisser_dogfish_2.jpg"
  - "images/zisser_dogfish_3.jpg"

moreProjects:
  -"barcar.html"
  -"partyrock.html"
---
