---
layout: "projects"

title: "Don't Blow It"

student: "Josh Smith"

course: "Visual Communication Design"

professor: "Tate Strickland"

semester: "Fall 2013"

category: "Foundation"

year: "Freshmen"

description: '<p>This poster was created to be a PSA again cocaine use.  The image depicts a brain outlined in cocaine with a section missing, signifying that the drug will ruin your brain.</p>'

images: 
  - "images/smith_dontblowit_1.jpg"
---
