---
layout: "projects"

title: "DSCDC"

student: "Una Kravets"

course: "Design for Print: Digital and Analog Print Production"

professor: "Dan Banks"

semester: "Spring 2013"

category: "Event Collateral"

year: "Senior"

description: "<p>The Design Student Coalition of DC (DSCDC) is an imagined meet-up group for graphic design students in DC. Meetings would feature design talks, coworking sessions, and networking opportunities to connect students to employers. I designed a logo and event collateral for the inaugural meet-up. </p><p>
 
At this meet up, students would vote (thus a ballot was created) on their interests and on the direction of the group. There is also an invitation suite and envelope to invite various schools to participate in the group, as well as a drink sleeve to cover your 'design fuel' which also doubles as a super hero armband.</p>"

portfolio: "http://www.unakravets.com"
 
images: 
  - "images/kravets_dc_1.jpg"
  - "images/kravets_dc_2.jpg"
  - "images/kravets_dc_3.jpg"


moreProjects:
  -"/fruitstory.html"
  -"/edible.html"
  -"/hp.html"
  -"/artistech.html"
  -"/fannotate.html"
---
