---
layout: "projects"

title: "Edible Arrangements"

student: "Una Kravets"

course: "Advanced Design I: Visual Branding and Design Systems"

professor: "Chemi Montes"

semester: "Fall 2013"

category: "Identity"

year: "Senior"

description: "<p>This rebranding for Edible Arrangements took their motto of 'make life sweeter' and took a healthy angle on it. The logo is fresh, light, and crisp for use on the web and in print. A brand Identity guideline explains appropriate use of the redesign.</p><p>
 
Additional assets include an activity book called Fruitventure, a bag for carrying out arrangements from their stores, and a box for their dipped fruit assortments. I also created a mobile app component -- Fruit Story which teaches children to why fruit are healthy, and features a nutritional reference for fruit.</p>"

portfolio: "http://www.unakravets.com"

link: "http://unakravets.com/edible-styleguide/"

 
images: 
  - "images/kravets_edible_1.jpg"
  - "images/kravets_edible_2.jpg"
  - "images/kravets_edible_3.jpg"

moreProjects:
  -"/artistech.html"
  -"/fruitstory.html"
  -"/hp.html"
  -"/dscdc.html"
  -"/fannotate.html"
---
