---
layout: "projects"

title: "Fannotate"

student: "Una Kravets, Cristina Keane, Olivia Brown"

course: "Experience Design: Interactive Media and Mobile Devices"

professor: "Yana Sakellion"

semester: "Fall 2013"

category: "iOS Application"

year: "Senior"

description: "<p>Fannotate helps bands to connect to their fans. The app is intended for a record label to host their clients on and increase client to customer interaction. A band can post music samples or art samples for any medium. Fans can then go and vote on their favorites. They become a part of the creative process</p>"

 
images: 
  - "images/kravets_fannotate_1.jpg"
  - "images/kravets_fannotate_2.gif"

moreProjects::
  -"/artistech.html"
  -"/edible.html"
  -"/hp.html"
  -"/dscdc.html"
  -"/fruitstory.html"
---
