---
layout: "projects"

title: "Fannotate"

student: "Una Kravets, Cristina Keane, Olivia Brown"

course: "Experience Design: Interactive Media and Mobile Devices"

professor: "Yana Sakellion"

semester: "Fall 2013"

category: "iOS Application"

year: "Senior"

description: "<p>Muse is a web-app that makes every commute a creative experience while also bringing public, user-generated art to DC's metro stations.</p> 
 
<p>Each week users are given a theme based on a quote from a DC native. Using this theme as a guide, each user can create their own works of art while traveling through the metro. Submitted works can be favorited by users on the gallery page. The more 'likes' a submitted work gets, the larger the image appears on 'digital canvases', set up in metro stations across the city.</p>"

 
images: 
  - "images/kravets_fannotate_1.jpg"
  - "images/kravets_fannotate_2.gif"

moreProjects::
  -"/artistech.html"
  -"/edible.html"
  -"/hp.html"
  -"/dscdc.html"
  -"/fruitstory.html"
---
