---
layout: "projects"

title: "Fruit Story"

student: "Una Kravets"

course: "Experience Design: Interactive Media and Mobile Devices"

professor: "Yana Sakellion"

semester: "Fall 2013"

category: "iOS Application"

year: "Senior"

description: "<p>This app prototype was created out of the challenge to change a consumer behavior, with Edible Arrangements being the client. The behavior: to increase fruit consumption. It focuses on children to start habits early, and uses your phones flash projector to show a virtual display right on the fruit itself. It's a personal interactive exhibit-to-go, delighting children and getting them excited about making healthy choices. </p><p>
 
There is also a Nutrition Facts mode, organized by three search options: typing, browsing a fruit list, or scanning a fruit sticker. You'll see an infographic with nutrition and vitamin information. It even lets you know when the best season for that fruit is!</p>"

portfolio: "http://www.unakravets.com"

embed: '<iframe src="//player.vimeo.com/video/81469787" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>'
 
images: 
  - "images/kravets_fruitstory_1.png"
  - "images/kravets_fruitstory_2.jpg"

moreProjects:
  -"/artistech.html"
  -"/edible.html"
  -"/hp.html"
  -"/dscdc.html"
  -"/fannotate.html"
---
