---
layout: "projects"

title: "Garden Market"

student: "Sarah Van Bemmel"

course: "Design for Print: Digital and Analog Print Production"

professor: "Dan Banks"

semester: "Spring 2013"

category: "Event Collateral"

year: "Junior"

description: "<p>The Valley Forge Chapter of the American Rhododendron Society hosts a plant sale each year. The save-the-date is passed out in the surrounding area several weeks before the event is scheduled to take place. The invite is sent to member homes, containing more detailed information for each day of the weekend-long event as well as the RSVP card and a return envelope. At the event, customers receive a program with a map of the sale area and planting instructions for when they take their purchases home. Anyone who makes a purchase at the sale also receives a free packet of seeds -- sunflower, tomato or pumpkin.</p>"

portfolio: "http://sarahvanbemmel.carbonmade.com/"

 
images: 
  - "images/vanbemmel_event_1.jpg"
  - "images/vanbemmel_event_2.jpg"
  - "images/vanbemmel_event_3.jpg"

moreProjects:
  -"/neat.html"
  -"/supoort.html"
  -"/straight.html"
---
