---
layout: "projects"

title: "Gollum and Smeagol Monologue"

student: "Josh Mahan"

course: "Kinetic and Sequential Graphics"

professor: "Juana Medina"

semester: "Spring 2014"

category: "Motion Graphics"

year: "Senior"

description: "<p>Kinetic typography for a conversation between Gollum and Smeagol from <em>The Lord of the Rings</em>.</p>"

embed: '<iframe src="//player.vimeo.com/video/89881207" width="500" height="350" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>'

portfolio: "http://www.joshmahan.us"
 
images: 
  - ""

moreProjects:
  -"/sw.html"
  -"/paintup.html"
  -"/playforlife.html"
---
