---
layout: "projects"

title: "John Grisham Book Jackets"

student: "Josh Mahan"

course: "Advanced Design I: Visual Branding and Design Systems"

professor: "Chemi Montes"

semester: "Fall 2013"

category: "Packaging"

year: "Senior"

description: "<p>A series of book jackets for well known John Grisham novels</p>"

portfolio: "http://www.joshmahan.us"
 
images: 
  - "/images/mahan_grisham_1.jpg"
  - "/images/mahan_grisham_2.jpg"
  - "/images/mahan_grisham_3.jpg"

moreProjects:
  -"/sw.html"
  -"/paintup.html"
  -"/playforlife.html"
---
