---
layout: "projects"

title: "Harry Potter"

student: "Una Kravets"

course: "Advanced Design I: Visual Branding and Design Systems"

professor: "Chemi Montes"

semester: "Fall 2013"

category: "Packaging"

year: "Senior"

description: "<p>This recreation of the Harry Potter Book Series focuses on the idea of fragmentation -- a main theme throughout the story line. As the books progress, and the wizarding world further breaks apart, The covers and backs of these books become progressively more disorderly. Each spine continues the geometric aesthetic of the set, while creating an image related to the edition (a stone, Basalisk, Sirius black's dog animagus, and the Goblet of Fire). Each book also has a unique icon to represent a part of the series, adding to the idea of fragmentation (parts of a whole).</p>"

portfolio: "http://www.unakravets.com"

 
images: 
  - "images/kravets_hp_1.jpg"
  - "images/kravets_hp_2.jpg"
  - "images/kravets_hp_3.jpg"

moreProjects:
  -"/artistech.html"
  -"/fruitstory.html"
  -"/edible.html"
  -"/dscdc.html"
  -"/fannotate.html"
---
