<header id="m-hero" class="m-hero">
  <div class="l-wrap">
    <div class="m-hero__header">
      <img src="<%= image_path("illuminate.png") %>">
      <h4>The 2014 American University Design Show</h4>
    </div>
  </div>
</header>

<nav class="m-nav">
  <div class="grid">
    <div class="m-two"><a href="#m-hero">AU Design Show</a></div>
    <div class="m-two">
      <ul>
        <li><a href="#about">About</a></li>
        <li><a href="#work">Work</a></li>
        <li><a href="#judges">Judges</a></li>
      </ul>
    </div>
  </div>
</nav>

<section id="about" class="m-about">
    <h2>About the Show</h2>
    
 <div class="l-wrap grid">
    <div class="m-three">
      <h3 class="m-about__name">What</h3>
     <p class="m-about__info">The 2014 AU Design Show is an exhibition of student work from American University’s Graphic Design Department. Any student who has taken a design class can submit. Three DC design professionals then choose what work is displayed.</p>
    </div>
    <div class="m-three">
      <h3 class="m-about__name">When</h3>
      <p class="exhibit">Exhibition:</p>
      <p class="m-about__date">March 31st &ndash; April 11th</p>
      <p>Reception:</p>
      <p class="m-about__date">April 2nd at 6:30pm</p>

    </div>
    <div class="m-three">
      <h3 class="m-about__name">Where</h3>
      <p class="m-about__info location">Katzen Art Center Rotunda <br> 4400 Massachusetts Ave, NW <br> Washington, DC 20016</p>
    </div>       
  </div>
  </div>
      <a class="button" href="#">RSVP to the Reception</a>

</section>

<section id="work" class="m-work">
  <h2>The Work</h2>
  <div class="l-wrap">
    <h3>Coming soon</h3>
    <!-- <div class="m-three">
      hi
    </div>
    <div class="m-three">
      hi
    </div>
    <div class="m-three">
      hi
    </div>  
    <div class="m-three">
      hi
    </div>
    <div class="m-three">
      hi
    </div>
    <div class="m-three">
      hi
    </div>  
    <div class="m-three">
      hi
    </div>
    <div class="m-three">
      hi
    </div>
    <div class="m-three">
      hi
    </div>  
    <div class="m-three">
      hi
    </div>
    <div class="m-three">
      hi
    </div>
    <div class="m-three">
      hi
    </div>  
    <div class="m-three">
      hi
    </div>
    <div class="m-three">
      hi
    </div>
    <div class="m-three">
      hi
    </div>         -->
  </div>
</section>

<section id="judges" class="m-judges">
  <h2>The Judges</h2>
  <div class="l-wrap grid">
    <div class="m-three">
      <img class="circle" src="<%= image_path("ross.jpg") %>"><br>
      <h3 class="m-judges__name">Ross Nover</h3>
      <p class="m-judges__info">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempore, facilis, eligendi quasi obcaecati fuga illum nostrum architecto.</p>
    </div>
    <div class="m-three">
      <img class="circle" src="<%= image_path("laura.jpg") %>"><br>
      <h3 class="m-judges__name">Laura McGuigan</h3>
      <p class="m-judges__info">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempore, facilis, eligendi quasi obcaecati fuga illum nostrum architecto.</p>
    </div>
    <div class="m-three">
      <img class="circle" src="<%= image_path("tom.png") %>"><br>
      <h3 class="m-judges__name">Tom Giannattasio</h3>
      <p class="m-judges__info">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempore, facilis, eligendi quasi obcaecati fuga illum nostrum architecto.</p>
    </div>       
  </div>
</section>

<footer>
  <div class="l-wrap grid">
    <div class="m-three">
      AUD LOGO
      <p>The Design Program at American teaches the theory and practice of graphic communications design. Our courses cover design for mobile, interactive and web media, publications, visual branding, packaging and typography.</p><p><a href="http://www.american.edu/cas/graphic-design/">Find out more »</a></p>
    </div>
    <div class="m-two"></div>
  </div>
  <p class="copy l-wrap">&copy; American University Design Club. 2014. All Rights Reserved.</p>
</footer>