<header class="m-hero">
  <div class="l-wrap">
    <div class="m-hero__header">
      <img src="<%= image_path("illuminate.png") %>">
      <h4>AU Design Show 2014</h4>
    </div>
    <div class="m-hero__dates">
      March 31st - April 11th
      Reception: April 2nd
    </div>
    <div class="m-hero__location">
      Katzen Rotunda
      4400 Massachusetts Ave, NW
      Washington, DC 20016
    </div>
  </div>
</header>

<nav class="m-nav">
  <ul>
    <li>About</li>
    <li>Works</li>
    <li>Judges</li>
  </ul>
</nav>

<section class="m-about">
  <div class="l-wrap">
    <h2>About the Show</h2>
    <p class="m-about__info">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores, voluptatibus ipsam amet beatae corporis praesentium sapiente ut impedit voluptates minima! Totam perferendis assumenda doloremque rem maiores magnam modi tenetur odio!</p>
    <a class="button" href="#">Join us for the Reception</a>
  </div>
</section>

<section class="m-work">
  <h2>The Work</h2>
  <div class="l-wrap grid">
    <div class="m-three">
      hi
    </div>
    <div class="m-three">
      hi
    </div>
    <div class="m-three">
      hi
    </div>  
    <div class="m-three">
      hi
    </div>
    <div class="m-three">
      hi
    </div>
    <div class="m-three">
      hi
    </div>  
    <div class="m-three">
      hi
    </div>
    <div class="m-three">
      hi
    </div>
    <div class="m-three">
      hi
    </div>  
    <div class="m-three">
      hi
    </div>
    <div class="m-three">
      hi
    </div>
    <div class="m-three">
      hi
    </div>  
    <div class="m-three">
      hi
    </div>
    <div class="m-three">
      hi
    </div>
    <div class="m-three">
      hi
    </div>        
  </div>
</section>

<section class="m-judges">
  <h2>The Judges</h2>
  <div class="l-wrap grid">
    <div class="m-three">
      <img src="<%= image_path("ross.jpg") %>">
      <h3 class="m-judges__name">Ross Nover</h3>
      <p class="m-judges__info">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempore, facilis, eligendi quasi obcaecati fuga illum nostrum architecto.</p>
    </div>
    <div class="m-three">
      <img src="<%= image_path("ross.jpg") %>">
      <h3 class="m-judges__name">Ross Nover</h3>
      <p class="m-judges__info">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempore, facilis, eligendi quasi obcaecati fuga illum nostrum architecto.</p>
    </div>
    <div class="m-three">
      <img src="<%= image_path("ross.jpg") %>">
      <h3 class="m-judges__name">Ross Nover</h3>
      <p class="m-judges__info">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempore, facilis, eligendi quasi obcaecati fuga illum nostrum architecto.</p>
    </div>       
  </div>
</section>

<footer>
</footer>