---
layout: "projects"

title: "Jane Austen book jacket series"

student: "Ada Thomas"

course: "Advanced Design I: Visual Branding and Design Systems"

professor: "Chemi Montes"

semester: "Fall 2013"

category: "Packaging"

year: "Senior"

description: "<p>This book jacket series for Jane Austen's Pride and Prejudice, Sense and Sensibility, and Emma utilizes the physicality of the books--front cover, spine, and back cover--to show the duality of the female main characters in the novels. The vintage botanical illustrations depict a violet, a ranunculus, and a tulip, which each have a meaning in the Victorian language of flowers that corresponds with the main character of each of the books. Furthermore, the contrast between the grotesque looking roots and the beautiful flower illustrations alludes to the dual nature of each of the main female characters and the way a woman had to maintain her public appearance while dealing with other issues beneath the surface.</p>"

portfolio: "http://www.cargocollective.com/adathomas"


images: 
  - "images/thomas_bookjacket_2.jpg"
  - "images/thomas_bookjacket_3.jpg"

moreProjects:
  -"/lush.html"
  -"/amsterdam.html"
---
