---
layout: "projects"

title: "Karmmunity"

student: "Olivia Brown"

course: "Experience Design: Interactive Media and Mobile Devices"

professor: "Yana Sakellion"

semester: "Fall 2013"

category: "iOS Application"

year: "Senior"

description: "<p>Karmmunity is a conceptual mobile app that encourages giving back and community-building by incentivizing the completion and sharing of small acts of kindness. </p><p>
 
While I do love social media, one thing that has always bothered me about its immediacy and virality is its accommodation of 'slacktivism.'  According to Oxford Dictionaries, slacktivism is defined as:</p><p> 
 
'actions performed via the Internet in support of a political or social cause but regarded as requiring little time or involvement, e.g., signing an online petition or joining a campaign group on a social media website.'</p><p> 
 
Yes, retweeting that message or sharing that picture on Facebook might raise some awareness…but is it actually doing anything?  I wanted to make an app to combat these types of behaviors and replace them with actual acts of support and kindness.</p><p> 
 
Karmmunity combats the social media-driven rise of slacktivism by convincing mobile users to actually do something instead of engaging in passive activities like clicking a 'like' button or retweeting a picture.  It rewards the completion of real-world acts of kindness with “karma points,” which can be traded in to ask for help with tasks of your own.  I wanted to make giving back into a game, to encourage those who may be receptive to the idea of helping, but reluctant to go out of their way to find ways to do so.</p><p> 
 
The app is meant to bridge the gap between slacktivism and selflessness: it makes helping people in your community easy, and offers “what goes around comes around” incentives for those users who may need and extra nudge to get in the habit of helping others.</p><p> 
 
<p>Accept tasks proposed by others, and share your experiences with your social networks. Once you’ve racked up enough karma points, ask for help with a task of your choosing.  Karma points are awarded based on the difficulty and time commitment required for any task that you help someone complete.  Ideally, the cycle of giving back and helping others through the app would continue to loop indefinitely.</p>"

portfolio: "http://www.olivia-brown.com"
 
images: 
  - "images/brown_karmmunity_1.jpg"
  - "images/brown_karmmunity_2.jpg"
  - "images/brown_karmmunity_3.jpg"

moreProjects:
  -""
---
