---
layout: "projects"

title: "Little House Book Covers"

student: "Ally Palanzi"

course: "Advanced Design I: Visual Branding and Design Systems"

professor: "Chemi Montes"

semester: "Fall 2013"

category: "Packaging"

year: "Senior"

description: "<p>Book cover redesign for the Little House series.</p>"

portfolio: "http://www.allypalanzi.com"


images: 
  - "images/palanzi_littlehouse_1.jpg"

moreProjects:
  -"/artallnight.html"
  -"/muse.html"
  -"/offbeat.html"
  -"/megabus.html"
---
