---
layout: "projects"

title: "Lush Visual Identity"

student: "Ada Thomas"

course: "Advanced Design I: Visual Branding and Design Systems"

professor: "Chemi Montes"

semester: "Fall 2013"

category: "Identity"

year: "Senior"

description: "<p>The designs for this brand Identity and implementation project were based on the company's fresh, handmade, high quality, and environmentally conscious cosmetic products.</p>
 
<p>The U in the logotype can be interpreted in many ways by the viewer, such as a mortar and pestle or a drop of water--which can suggest either the handmade or the fresh and cleansing attributes of the products.</p>
 
<p>To minimize packaging, customers will be encouraged to bring their own containers or they will use the reusable bottles and jars available in the store. Each product will be hand filled into a container and given a custom label or wrapper upon purchase, which highlights its freshness, its sustainability, and its unique match for the customer.</p>
 
<p>Design elements both in store and on packaging highlight the ingredients of the products and the values of the company. The custom printed labels act as stickers and utilize QR codes to provide further information without using additional paper or packaging.</p>"

portfolio: "http://www.cargocollective.com/adathomas"


images: 
  - "images/thomas_lush_1.png"
  - "images/thomas_lush_2.png"
  - "images/thomas_lush_3.png"

moreProjects:
  -"/janeausten.html"
  -"/amsterdam.html"
---
