---
layout: "projects"

title: "Megabus Rebrand"

student: "Ally Palanzi"

course: "Advanced Design I: Visual Branding and Design Systems"

professor: "Chemi Montes"

semester: "Fall 2013"

category: "Identity"

year: "Senior"

description: "<p>Rebranding for Megabus, a service that provides low-cost travel all across the United States and Canada.</p>"

portfolio: "http://www.allypalanzi.com"

link: "http://www.allypalanzi.com/live/megabus.html"


images: 
  - "images/palanzi_megabus_1.jpg"
  - "images/palanzi_megabus_2.jpg"
  - "images/palanzi_megabus_3.jpg"

moreProjects:
  -"/artallnight.html"
  -"/muse.html"
  -"/offbeat.html"
  -"/littlehouse.html"
---
