---
layout: "projects"

title: "Missoni S/S 2013 Fashion Show"

student: "Madeline Beard"

course: "Design for Print: Digital and Analog Print Production"

professor: "Dan Banks"

semester: "Spring 2013"

category: "Event Collateral"

year: "Senior"

description: "<p>This project involved designing a full print collateral package (including save the date, invitation, program, giveaways, etc) for a large scale event. I chose Missoni as my client because I enjoy the challenge of reimagining the visual signifiers of such an iconic brand.</p>"

portfolio: "http://www.madelinebeard.com"
 
images: 
  - "images/beard_missoni_1.jpg"

moreProjects:
  -"/muse.html"
  -"/bee.html"
  -"/af.html"
  -"/muppets.html"
---
