---
layout: "projects"

title: "The Muppets: Still on Top"

student: "Madeline Beard"

course: "Advanced Design II: Publication Design for Print and Digital Media"

professor: "Tom White"

semester: "Spring 2014"

category: "Publication"

year: "Senior"

description: "<p>Two magazine spreads created for the Society of Publication Designers 2014 Student Design Competition. This project works to visually elevate the Muppets, emphasizing their iconic presence in film and television history. The use of handmade cut paper collage transforms Kermit and Miss. Piggy from childish felt puppets to more sophisticated works. The chosen medium also communicates the complexity of the characters; while they are puppets, the Muppets are far from one-dimensional.</p>"

portfolio: "madelinebeard.com"
 
images: 
  - "images/beard_muppets_1.jpg"
  - "images/beard_muppets_2.jpg"

moreProjects:
  -"/muse.html"
  -"/bee.html"
  -"/af.html"
  -"/missoni.html"
---
