---
layout: "projects"

title: "Muse"

student: "Ally Palanzi, Josh Mahan, Madeline Beard"

course: "Experience Design: Interactive Media and Mobile Devices"

professor: "Yana Sakellion"

semester: "Fall 2013"

category: "iOS Application"

year: "Senior"

description: "<p>Muse is a web-app that makes every commute a creative experience while also bringing public, user-generated art to DC's metro stations.</p> 
 
<p>Each week users are given a theme based on a quote from a DC native. Using this theme as a guide, each user can create their own works of art while traveling through the metro. Submitted works can be favorited by users on the gallery page. The more 'likes' a submitted work gets, the larger the image appears on 'digital canvases', set up in metro stations across the city.</p>"

portfolio: "http://www.allypalanzi.com"

link: "http://allypalanzi.github.io/districtmuse/landing/"
 
images: 
  - "images/palanzi_muse_1.jpg"
  - "images/palanzi_muse_2.jpg"

moreProjects:
  -"/artallnight.html"
  -"/muse.html"
  -"/littlehouse.html"
  -"/megabus.html"
---
