---
layout: "projects"

title: "Naked App"

student: "Cristina Keane"

course: "Experience Design: Interactive Media and Mobile Devices"

professor: "Yana Sakellion"

semester: "Fall 2013"

category: "iOS Application"

year: "Senior"

description: '<p>Using nutritional information acquired through the barcode scanner, the Naked app calculates the positive and negative health impacts of a selected beverage based on the users personal dietary preferences, presenting the information through infographics.</p>'

embed: '<iframe src="//player.vimeo.com/video/81790023" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>'

images: 
  - ""
  
moreProjects:
  -"/bee.html"
  -"/fannotate.html
---
