---
layout: "projects"

title: "Neat &amp; Messy Baby Food"

student: "Sarah Van Bemmel"

course: "Design for Print: Digital and Analog Print Production"

professor: "Dan Banks"

semester: "Spring 2013"

category: "Event Collateral"

year: "Junior"

description: "<p>Neat and Messy is a brand of organic baby food. The logo and packaging were all designed for the client to reflect the natural ingredients. The ingredients for each flavor were illustrated into a pattern for each label design.</p>"

portfolio: "http://sarahvanbemmel.carbonmade.com/"

 
images: 
  - "images/vanbemmel_babyfood_1.jpg"
  - "images/vanbemmel_babyfood_2.jpg"
  - "images/vanbemmel_babyfood_3.jpg"

moreProjects:
  -"/gardenmarket.html"
  -"/supoort.html"
  -"/straight.html"
---
