---
layout: "projects"

title: "OffbeatDC"

student: "Ally Palanzi"

course: "Experience Design: Interactive Media and Mobile Devices"

professor: "Yana Sakellion"

semester: "Fall 2013"

category: "iOS Application"

year: "Senior"

description: '<p>DC is full of local gems, but how many of them do you know? OffbeatDC is an iPhone application to guide tourists traveling in Washington, DC. The app helps travelers discover attractions “off the beaten path" by recommending places that are curated by residents based on how far the user wants to travel and how much time they have.</p>'

embed: '<iframe src="//player.vimeo.com/video/81442328" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>'

portfolio: "http://www.allypalanzi.com"

images: 
  - "images/palanzi_offbeat_1.jpg"
  - "images/palanzi_offbeat_2.jpg"

moreProjects:
  -"/artallnight.html"
  -"/muse.html"
  -"/littlehouse.html"
  -"/megabus.html"
---
