---
layout: "projects"

title: "Old Navy Brand Redesign"

student: "Lauren Gillette"

course: "Advanced Design I: Visual Branding and Design Systems"

professor: "Chemi Montes"

semester: "Fall 2013"

category: "Identity"

year: "Senior"

description: "<p>This proposed brand Identity redesign is an effort to rejuvenate the brand, brightening its image in the eyes of the consumer. The changes include a name simplification, focussing on the acronym ON as opposed to Old Navy.</p>"



images: 
  - "images/gilette_on_1.jpg"
  - "images/gilette_on_2.jpg"
  - "images/gilette_on_3.jpg"


moreProjects:
  -"/smileon.html"
  -"/pollan.html"
---
