---
layout: "projects"

title: "PaintUp"

student: "Josh Mahan"

course: "Experience Design: Interactive Media and Mobile Devices"

professor: "Yana Sakellion"

semester: "Fall 2013"

category: "iOS Application"

year: "Senior"

description: "<p>A mobile app concept for the well known paint company Sherwin Williams.</p>"

embed: '<iframe width="560" height="315" src="//www.youtube.com/embed/HOUeFHneQ8E" frameborder="0" allowfullscreen></iframe>'

portfolio: "http://www.joshmahan.us"

moreProjects:
  -"/grisham.html"
  -"/sw.html"
  -"/playforlife.html"
---
