---
layout: "projects"

title: "Party Rock"

student: "Rebecca Zisser, Ethel Moore, Olivia Brown, Bailey Willner"

course: "Kinetic and Sequential Graphics"

professor: "Tate Strickland"

semester: "Spring 2014"

category: "Motion Graphics"

year: "Senior"

description: "<p>An animated infographic explaining how musical preferences can be used to predict political affiliation and voting habits.</p>"

embed: '<iframe src="//player.vimeo.com/video/89341241" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>'

moreProjects:
  -"barcar.html"
  -"dogfishhead.html"
---
