---
layout: "projects"

title: "Play For Life"

student: "Josh Mahan"

course: "Design for Print: Digital and Analog Print Production"

professor: "Dan Banks"

semester: "Spring 2013"

category: "Event Collateral"

year: "Senior"

description: "<p>Event collateral for a Play for Life, a capture the flag/fundraising event. Includes a save the date, invitation, pamphlet, and takeaway (a water bottle).</p>"

portfolio: "http://www.joshmahan.us"
 
images: 
  - ""

moreProjects:
  -"/grisham.html"
  -"/sw.html"
  -"/paintup.html"
---
