---
layout: "projects"

title: "Plaza Brand Identity Design"

student: "Cara Levine"

course: "Advanced Design I: Visual Branding and Design Systems"

professor: "Chemi Montes"

semester: "Fall 2013"

category: "Identity"

year: "Senior"

description: "<p>Logo and brand Identity design for an art supply store.</p>"

portfolio: "http://cl9103a.wix.com/cara"


images: 
  - "images/levine_plaza_1.jpg"
  - "images/levine_plaza_2.jpg"
  - "images/levine_plaza_3.jpg"

moreProjects:
  -"/ebooks.html"
  -"/bookjackets.html"
---
