---
layout: "projects"

title: "Michael Pollan Book Covers"

student: "Lauren Gillette"

course: "Advanced Design I: Visual Branding and Design Systems"

professor: "Chemi Montes"

semester: "Fall 2013"

category: "Identity"

year: "Senior"

description: "<p>This book cover set is for three Michael Pollan books, all related to the current state of the food industry and suggested improvements on a personal and community level. The book jackets each feature die cuts revealing the texture of a related food item beneath.</p>"



images: 
  - "images/gillette_pollan_1.jpg"


moreProjects:
  -"/smileon.html"
  -"/oldnavy.html"
---
