---
layout: "projects"

title: "Ally's Test"

student: "Ally Palanzi"

course: "gdes 405"

professor: "Yana Sakellion"
semester: "Fall 2013"

category: "Interactive"

description: "<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea, commodi, tenetur, fuga, facere quaerat veniam error laudantium minus aspernatur porro vel magnam sapiente perspiciatis illo eos placeat saepe sequi soluta.</p><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea, commodi, tenetur, fuga, facere quaerat veniam error laudantium minus aspernatur porro vel magnam sapiente perspiciatis illo eos placeat saepe sequi soluta.</p><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea, commodi, tenetur, fuga, facere quaerat veniam error laudantium minus aspernatur porro vel magnam sapiente perspiciatis illo eos placeat saepe sequi soluta.</p>"

images: 
  - "images/test.png"
  - "images/test.png"

moreProjects:
  -"/blah.html"
  -"/blah.html"
  -"/blah.html"
---
