---
layout: "projects"

title: "Smile On Animation"

student: "Lauren Gillette, Cara Levine, Sarah Van Bemmel, Laura Materna"

course: "Kinetic and Sequential Graphics"

professor: "Tate Strickland"

semester: "Spring 2014"

category: "Motion Graphics"

year: "Senior"

description: '<p>The benefits of smiling are discussed in this animation, intended to simultaneously educate and make you happy. The project was a joint effort by Lauren Gillette, Cara Levine, Sarah Van Bemmel, and Laura Materna.</p>'

embed: '<iframe src="//player.vimeo.com/video/89253894" width="500" height="282" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>'

images: 
  - ""

moreProjects:
  -"/pollan.html"
  -"/oldnavy.html"
---
