---
layout: "projects"

title: "Straight Line Designs"

student: "Sarah Van Bemmel"

course: "Digital and Emerging Media Design II "

professor: "Yana Sakellion"

semester: "Fall 2013"

category: "Website"

year: "Junior"

description: "<p>Straight Line Designs is a Canadian-based furniture company. This website design upgrade allows their site to be fully responsive for desktops, tablets, and mobile devices.</p>"

link: "http://sarahvanbemmel.x10.mx/sarahvb/project3/"

portfolio: "http://sarahvanbemmel.carbonmade.com/"

 
images: 
  - "images/vanbemmel_responsivesite_1.jpg"
  - "images/vanbemmel_responsivesite_2.jpg"
  - "images/vanbemmel_responsivesite_3.jpg"

moreProjects:
  -"/gardenmarket.html"
  -"/neat.html"
  -"/support.html"
---
