---
layout: "projects"

title: "Sherwin Williams Rebrand"

student: "Josh Mahan"

course: "Advanced Design I: Visual Branding and Design Systems"

professor: "Chemi Montes"

semester: "Fall 2013"

category: "Identity"

year: "Senior"

description: "<p>A rebrand of the well known paint company, Sherwin Williams. Includes a logo, business cards, letterhead, envelope, and several packaging elements.</p>"

portfolio: "http://www.joshmahan.us"
 
images: 
  - "/images/mahan_sw_1.jpg"
  - "/images/mahan_sw_2.jpg"
  - "/images/mahan_sw_3.jpg"

moreProjects:
  -"/grisham.html"
  -"/paintup.html"
  -"/playforlife.html"
---
