---
layout: "projects"

title: "Single Page Syllabus Website"

student: "Laura Materna"

course: "Digital and Emerging Media Design II "

professor: "Yana Sakellion"

semester: "Spring 2014"

category: "Website"

year: "Junior"

description: '<p>A design of the GDES-315 syllabus that focuses on the creative potential in building something digital.</p>'

portfolio: "http://www.lauramaterna.carbonmade.com"

link: "http://lzmat.x10.mx/materna_pr1/"

images: 
  - "images/materna_syllabus_1.jpg"
  - "images/materna_syllabus_2.jpg"
  - "images/materna_syllabus_3.jpg"

moreProjects:
  -""
---
