---
layout: "projects"

title: "Single Page Syllabus Website"

student: "Nicole Cunanan"

course: "Digital and Emerging Media Design II "

professor: "Yana Sakellion"

semester: "Spring 2014"

category: "Website"

year: "Junior"

description: '<p>This project incorporates the text-heavy GDES-315 syllabus into a more manageable single-page website. I layered the content into sections and included full-bleed section header photographs as well as smaller graphics to break up the text.</p>'

link: "http://nicolecunanan.x10.mx/project1/"

images: 
  - "images/nicole_syllabus_1.jpg"

moreProjects:
  -""
---
