---
layout: "projects"

title: "Digital &amp; Emerging Media Design II"

student: "Walter Ramirez Mejia"

course: "Digital and Emerging Media Design II "

professor: "Yana Sakellion"

semester: "Fall 2013"

category: "Website"

year: "Junior"

description: "<p>First project in GDES-315. A website create to showcase the syllabus..</p>"

link: "http://fantuccidesigns.com/project1/index.html"

portfolio: "http://walterramirezdesign.carbonmade.com/"

 
images: 
  - "images/walter_syllabus_1.png"
  - "images/walter_syllabus_2.png"
  - "images/walter_syllabus_3.png"

moreProjects:
  -"/baking.html"
  -"/team.html"
---
