---
layout: "projects"

title: "Join the Team"

student: "Walter Ramirez Mejia"

course: "Digital and Emerging Media Design II "

professor: "Yana Sakellion"

semester: "Fall 2013"

category: "Website"

year: "Junior"

description: "<p>The 'Join the Team' website was built to promote the first annual soccer tournament created to furthermore 
a gay and straight alliance in our community. </p><p>
The overall website theme is based off a vintage style to suggest nostalgia; which itself is related to good 
times. In addition, the site includes a contact form, registration form, polling features, and general 
information about the tournament.</p>"

link: "http://fantuccidesigns.com/project2/index.html"

portfolio: "http://walterramirezdesign.carbonmade.com/"

 
images: 
  - "images/walter_team_1.jpg"
  - "images/walter_team_2.jpg"
  - "images/walter_team_3.jpg"

moreProjects:
  -"/syllabus3.html"
  -"/baking.html"
---
