---
layout: "projects"

title: "Melissa Logan"

student: "Melissa Logan"

course: "Design for Print: Digital and Analog Print Production"

professor: "Dan Banks"

semester: "Fall 2013"

category: "Stationery"

year: "Junior"

description: "<p>Identity and print set for a teaching and leadership conference hosted in Austin, Texas, including a save-the-date, invitation, and program.</p>"

portfolio: "melissalogan.carbonmade.com"


images: 
  - "images/logan_texas_1.jpg"

moreProjects:
  -""
---
