---
layout: "projects"

title: "Typography as text and image"

student: "Tyler Thom"

course: "Typography I: Visible Language for Publications
and Media"

professor: "Becca Gurney"

semester: "Spring 2014"

category: "Foundation"

year: "Post-graduate"

description: '<p>Choose 6 words from the English dictionary, avoiding articles, prepositions, pronouns and proper names of places, people, etc. Create 6 panels, each 6" square, each of them using the arrangement of a word to show reinforcement of or twisting of its meaning. Keep in mind that your solutions should feel typographic rather than illustrational; the letters should not be altered to the point that they become drawings or representations of the word, nor should they be arranged to “draw” figures.</p>'

images: 
  - "images/thom_typeastext_1.jpg"

moreProjects:
  -"/typeface.html"
---
