---
layout: "projects"

title: "Typeface Design"

student: "Tyler Thom"

course: "Typography I: Visible Language for Publications
and Media"

professor: "Becca Gurney"

semester: "Spring 2014"

category: "Foundation"

year: "Post-graduate"

description: '<p>Create a prototype for a bitmap font by designing letters on a grid of squares. Substitute the curves and diagonals of the traditional letterforms with rectilinear elements. Avoid making detail “staircases” which are just curves and diagonals in disguise.</p>'

images: 
  - "images/thom_typeface_1.jpg"

moreProjects:
  -"/typeastext.html"
---
